.max-width-100 {
  max-width: 100% !important;
  background-color: #17191a !important;
  color: #fff;
}
.w-h-36px {
  width: 36px;
  height: 36px;
}
.list__top {
  border-bottom: 2px solid #333;
}

.list__top-container {
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}
.list__top-title {
  padding: 16px 0 10px;
}
.header__roomchat-user {
  padding: 16px 10px 10px;
}
.list__top-title__btn {
  background-color: #3e4043;
  border-radius: 50%;
  border: none;
  position: relative;
}
.list__top-title__btn span {
  position: absolute;
  top: 5px;
  right: 6px;
}
.list__top-edit {
  width: 22px;
}

.list__top-nav__btn {
  background-color: #333;
  border-radius: 24px;
  border: none;
  color: #fff;
  padding: 8px 16px;
}
.list__top-nav__btn:hover {
  background-color: #3e4043;
}
.btn-list__top-more {
  border-radius: 50%;
  padding: 0;
}
.list__top-search {
  position: relative;
  border: none;
  padding-bottom: 10px;
  padding-right: 10px;
}
.list__top-search span {
  position: absolute;
  top: 8px;
  left: 12px;
}
.list__top-search__content {
  width: 100%;
  padding: 8px 32px;
  background-color: #3e4043;
  border-radius: 24px;
  border: 1px solid #3e4043;
  color: #fff;
}
.list__bottom-roomlist {
  font-size: 19px;
}
.list-room-chat {
  border-right: 2px solid #333;
  height: 100vh;
  position: relative;
}
.pd-feature-btn {
  padding: 10px 15px;
}
.header__roomchat-feature .fa-user-plus {
  margin-right: 4px;
}
.header__roomchat-search .w-70 p:hover {
  cursor: pointer;
  background-color: #3e4043;
  border-radius: 8px;
}
.pd-10-15 {
  padding: 13px 15px 12px;
}
.height-100vh {
  height: 100vh;
}
.header__roomchat-feature > button {
  background-color: #333;
  border-radius: 6px;
  border: none;
  margin-left: 6px;
  color: #fff;
}
.header__roomchat-feature > button:hover {
  background-color: #3e4043;
}
.header__roomchat-btn-user {
  padding: 0 8px;
}
.w-70 {
  width: 70%;
}
.w-30 {
  width: 30%;
}
.content__roomchat-container {
  flex-grow: 1;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  height: calc(100% - 115px);
}
.header__roomchat {
  border-bottom: 2px solid #333;
  max-height: 115px;
}
.list__bottom {
  margin-top: 15px;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}
.room__info {
  height: 100%;
  border-left: 2px solid #333;
  padding-top: 10px;
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}
span.roomlist__item-add-btn {
  margin-right: 5px;
  margin-top: -3px;
}
.roomlist__item-name {
  color: #1890ff;
  margin-bottom: 8px;
  list-style: none;
  cursor: pointer;
}

.roomlist__item-add {
  background-color: #17191a;
  border: none;
  color: #fff;
}
.send-message {
  border-radius: 0.25rem;
  width: 9%;
  background-color: #096dd9;
  border: 1px solid #096dd9;
  color: #fff;
}
.send-message:hover {
  background: #40a9ff;
  border: 1px solid #40a9ff;
}
.content__roomchat {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: flex-end;
  position: relative;
}
.content__roomchat-message {
  overflow-y: auto;
  margin-bottom: 48px;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
}
.content__roomchat-input-group {
  position: absolute;
  bottom: 10px;
}
.header__roomchat-user-info span {
  margin-right: -10px;
}
.header__user-info {
  margin-left: 8px;
}
.header__roomchat-user-info span img {
  width: 36px;
  border-radius: 50%;
}
.message {
  padding: 10px 0;
}
.message__user-left {
  padding: 0;
  justify-content: left;
}
.message__user-right {
  padding: 0;
  justify-content: right;
  flex-direction: row-reverse;
}
.message__text-right {
  justify-content: right;
  flex-direction: row-reverse;
  position: relative;
}
.message__text-left {
  justify-content: left;
  position: relative;
}
.message__avatar span img {
  width: 30px;
  border-radius: 50%;
}
.message__avatar-left,
.list__top-title__avatar {
  margin-right: 8px;
}
.message__avatar-right {
  margin-left: 8px;
}
.avatar__info {
  margin-right: 8px;
  margin-left: 0;
}
.message__content {
  background-color: #3e4042;
  padding: 7px 12px;
  border-radius: 24px;
}
span.ant-avatar.ant-avatar-lg.ant-avatar-circle.ant-avatar-image.avatar__group-a {
  margin: 0px -15px 0px 0px;
}
.mb-10px {
  margin-bottom: 10px;
}
.message__author-right {
  margin-right: 50px;
  font-size: 12px !important;
  font-weight: normal;
}
.message__author-left {
  margin-left: 50px;
  font-size: 12px !important;
  font-weight: normal;
}
.message__date {
  font-size: 10px !important;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.w-69px {
  width: 69px;
}
.w-36px {
  width: 36px;
}
.list__top-title__avatar {
  display: none;
}
.header__roomchat-user-info #cancel_reset {
  display: none;
}
button.header__roomchat-user__btn-logout {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  border-radius: 24px;
  padding: 5px 0;
  font-weight: 600;
  border: none;
  background-color: #fa5701;
}
