* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content-app {
  font-family: "Inter", sans-serif;
  font-size: 14px !important;
  height: 100vh;
}
#logreg-forms {
  width: 412px;
  margin: 10vh auto;
  background-color: #f3f3f3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
#logreg-forms form {
  width: 100%;
  max-width: 410px;
  padding: 0 15px 15px;
  margin: auto;
}
#logreg-forms .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
#logreg-forms .form-control:focus {
  z-index: 2;
}
#logreg-forms .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#logreg-forms .social-login {
  margin: 0 auto;
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
}
#logreg-forms .social-btn {
  font-weight: 100;
  color: white;
  font-size: 0.9rem;
  padding-left: 11px;
  padding-right: 11px;
}

#logreg-forms button[type="submit"] {
  margin-top: 10px;
}

#logreg-forms .facebook-btn {
  background-color: #3c589c;
}

#logreg-forms .google-btn {
  background-color: #df4b3b;
}

#logreg-forms .form-reset,
#logreg-forms .form-signup {
  display: none;
}

#logreg-forms .form-signup .social-btn {
  width: 210px;
}

#logreg-forms .form-signup input {
  margin-bottom: 2px;
}

.form-signup .social-login {
  width: 210px !important;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}
.btn-block {
  display: inline-block;
  width: 100%;
}
.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}
#logreg-forms #forgot_pswd {
  display: inline-block;
  color: lightseagreen;
  border: none;
  background-color: #f3f3f3;
}
.font-weight-normal {
  font-weight: 400 !important;
}
.font-weight-500 {
  font-weight: 500 !important;
}
.font-weight-bold {
  font-weight: bold !important;
}
#logreg-forms #cancel_reset {
  display: inline-block;
  padding-top: 10px;
  color: lightseagreen;
}

.text-decoration-none {
  text-decoration: none;
}
#logreg-forms #cancel_reset:hover {
  text-decoration: underline;
}
#forgot_pswd:hover {
  text-decoration: underline;
}
.mt-15 {
  margin-top: 15px !important;
}
.mt-8 {
  margin-top: 8px !important;
}
.signup__or::before,
.signup__or::after {
  content: "";
  flex: 1 1;
  border-bottom: 1px dotted #ccc;
  margin: auto;
}

.color-red {
  color: #dc3545;
}
.color-grey {
  color: #ccc !important;
}
.p-10 {
  padding: 0 10px !important;
}
.pt-1rem {
  padding-top: 1rem !important;
}
.pt-10 {
  padding-top: 10px !important;
}
/* .pt-8 {
  padding-top: 8px;
} */
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-12 {
  margin-bottom: 12px !important;
}
.justify-between {
  justify-content: space-between !important;
}
.justify-center {
  justify-content: center !important;
}
.align-center {
  align-items: center;
}
.m-l-r-8 {
  margin: 0 8px;
}
.d-inline-block {
  display: inline-block;
}

/* ---------------------------------------- */

@media (max-width: 991.98px) {
  .col-lg-12 {
    width: 100%;
  }
  .w-70-lg {
    width: 70%;
  }
  .w-30-lg {
    width: 30%;
  }
  .w-30 {
    display: none;
  }
  .list__top-nav {
    display: none !important;
  }
  .list__bottom-roomlist {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .list__bottom-roomlist__item {
    padding-left: 12px;
  }
}
@media (max-width: 768px) {
  .list__top-title__name {
    font-size: 20px;
  }
  .list__top-title__btn span {
    top: 2px;
    right: 5px;
  }
  .w-16px {
    width: 16px;
  }
  .w-h-28px {
    width: 28px;
    height: 28px;
  }
  .list__bottom {
    padding: 0 8px;
  }
  .list__bottom-roomlist {
    font-size: 14px;
    margin-bottom: 10px;
    display: none;
  }
  .list__bottom-roomlist__item {
    padding-left: 8px;
  }
  .roomlist__item-add {
    padding-left: 0;
    font-size: 14px;
  }
  .header__roomchat-btn-user {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .col-xs-12 {
    width: 100%;
  }
  .w-30 {
    display: none;
  }
  .list__top-title__avatar {
    display: block;
  }
  .list__top-title__avatar img {
    width: 32px;
    border-radius: 50%;
  }
  .list__top-title__name {
    font-size: 24px;
  }
  .list__top-title__btn span {
    top: 4px;
    right: 6px;
  }
  .list-room-chat {
    width: 100%;
  }
  .w-20px {
    width: 20px;
  }
  .w-h-32px {
    width: 32px;
    height: 32px;
  }
  .list-room-chat {
    display: none;
  }
  .content__roomchat-container {
    display: block;
    height: calc(100% - 70px);
  }
  .list__bottom {
    padding: 0 8px;
  }

  /* Header roomchat */
  .header__roomchat-btn-user,
  .btn-user__bell,
  .header__roomchat-search {
    display: none;
  }
  .header__user-info {
    margin-left: 4px;
  }
  .header__roomchat-feature > button {
    background-color: #17191a;
    /* border-radius: 6px; */
    border: none;
    margin-left: 0;
    color: #fff;
  }
  .pd-feature-btn {
    padding: 10px 10px;
  }
  .pd-feature-btn img {
    width: 20px;
  }
  .header__roomchat-user-info #cancel_reset {
    display: block;
    margin-right: 6px;
  }
  .header__roomchat-user-info #cancel_reset img {
    width: 16px;
    color: #fff;
  }
}
