.max-width-100 {
  max-width: 100% !important;
  background-color: #17191a !important;
  color: #fff;
}
.w-h-36px {
  width: 36px;
  height: 36px;
}
.list__top {
  border-bottom: 2px solid #333;
}

.list__top-container {
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}
.list__top-title,
.header__roomchat-user {
  padding: 16px 10px 10px;
}
.list__top-title__btn {
  background-color: #3e4043;
  border-radius: 50%;
  border: none;
  position: relative;
}
.list__top-title__btn span {
  position: absolute;
  top: 5px;
  right: 6px;
}
.list__top-edit {
  width: 22px;
}

.list__top-nav__btn {
  background-color: #333;
  border-radius: 24px;
  border: none;
  color: #fff;
  padding: 8px 16px;
}
.list__top-nav__btn:hover {
  background-color: #3e4043;
}
.btn-list__top-more {
  border-radius: 50%;
  padding: 0;
}
/* .list__top {
  margin-left: 24px;
  margin-right: 24px;
} */
.list__top-search {
  position: relative;
  border: none;
  padding-bottom: 10px;
  padding-right: 10px;
}
.list__top-search span {
  position: absolute;
  top: 8px;
  left: 12px;
}
.list__top-search__content {
  width: 100%;
  padding: 8px 32px;
  background-color: #3e4043;
  border-radius: 24px;
  border: 1px solid #3e4043;
  color: #fff;
}
.list-room-chat {
  border-right: 2px solid #333;
  height: 100vh;
}
.pd-feature-btn {
  padding: 10px 15px;
}
.header__roomchat-feature .fa-user-plus {
  margin-right: 4px;
}
.header__roomchat-search .w-70 p:hover {
  cursor: pointer;
  background-color: #3e4043;
  border-radius: 8px;
}
.pd-10-15 {
  padding: 13px 15px 12px;
}
.height-100vh {
  height: 100vh;
}
.header__roomchat-feature > button {
  background-color: #333;
  border-radius: 6px;
  border: none;
  margin-left: 6px;
  color: #fff;
}
.header__roomchat-feature > button:hover {
  background-color: #3e4043;
}
.header__roomchat-btn-user {
  padding: 0 8px;
}
.w-70 {
  width: 70%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
}
.w-30 {
  width: 30%;
}
.content__roomchat-container {
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  height: calc(100% - 129px);
}
.header__roomchat {
  border-bottom: 2px solid #333;
  max-height: 129px;
}
.list__bottom {
  margin-top: 15px;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}
.room__info {
  height: 100%;
  border-left: 2px solid #333;
}
span.roomlist__item-add-btn {
  margin-right: 5px;
  margin-top: -3px;
}
.roomlist__item-name {
  color: #1890ff;
  margin-bottom: 8px;
  list-style: none;
  cursor: pointer;
}
.roomlist__item-add {
  background-color: #17191a;
  border: none;
  color: #fff;
}
.send-message {
  border-radius: 0.25rem;
  width: 9%;
  background-color: #096dd9;
  border: 1px solid #096dd9;
  color: #fff;
}
.send-message:hover {
  background: #40a9ff;
  border: 1px solid #40a9ff;
}
.content__roomchat {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px;
  justify-content: flex-end;
}
.content__roomchat-message {
  overflow-y: auto;
}
.header__roomchat-user-info span {
  margin-right: -10px;
}
.header__user-info {
  margin-left: 8px;
}
.header__roomchat-user-info span img {
  width: 36px;
  border-radius: 50%;
}
.room__info {
  padding-top: 10px;
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}
.message {
  padding: 10px 0;
}
.message__user {
  padding: 0;
}
.message__avatar span img {
  width: 30px;
  border-radius: 50%;
}
.message__avatar {
  margin-right: 8px;
}
.message__content {
  background-color: #3e4042;
  padding: 7px 12px;
  border-radius: 24px;
}
span.ant-avatar.ant-avatar-lg.ant-avatar-circle.ant-avatar-image.avatar__group-a {
  margin: 0px -15px 0px 0px;
}
.mb-10px {
  margin-bottom: 10px;
}
.message__author {
  margin-right: 10px;
  margin-left: 50px;
  font-size: 12px !important;
  font-weight: normal;
}
.message__date {
  font-size: 12px !important;
  margin: 0 auto;
}
.w-69px {
  width: 69px;
}
.w-36px {
  width: 36px;
}
